@model List<Doctor>

<h1>Buscador Doctores</h1>
<form method="post">
    <label>Especialidad</label>
    <input type="text" name="especialidad" class="form-control"/>
    <button class="btn btn-dark">
        Buscar doctores
    </button>
</form>
<table class="table table-warning">
    <thead>
        <tr>
            <th>Id doctor</th>
            <th>Apellido</th>
            <th>Especialidad</th>
            <th>Salario</th>
            <th>Hospital</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Doctor doctor in Model)
        {
            <tr>
                <td>@doctor.IdDoctor</td>
                <td>@doctor.Apellido</td>
                <td>@doctor.Especialidad</td>
                <td>@doctor.Salario</td>
                <td>@doctor.IdHospital</td>
            </tr>
        }
    </tbody>
</table>