@model List<Doctor>

<h1>Doctores SQL Server/Oracle</h1>
<p>
    <a asp-controller="Doctores"
    asp-action="Create">
        Create New Doctor
    </a>
</p>
<table class="table table-active">
    <thead>
        <tr>
            <th>Id doctor</th>
            <th>Apellido</th>
            <th>Especialidad</th>
            <th>Salario</th>
            <th>Hospital</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (Doctor doctor in Model){
            <tr>
                <td>@doctor.IdDoctor</td>
                <td>@doctor.Apellido</td>
                <td>@doctor.Especialidad</td>
                <td>@doctor.Salario</td>
                <td>@doctor.IdHospital</td>
                <td>
                    <a asp-controller="Doctores"
                        asp-action="Delete"
                        asp-route-iddoctor="@doctor.IdDoctor"
                        class="btn btn-danger">
                        Delete
                    </a>

                    <a asp-controller="Doctores"
                       asp-action="Edit"
                       asp-route-iddoctor="@doctor.IdDoctor"
                       class="btn btn-info">
                        Edit
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>